TP2/Punto3/Serie.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="serie">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="personajes">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="personaje" minOccurs="1" maxOccurs="unbounded">                                <!--personaje-->
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="nombre" type="xs:string" />
                                        <xs:element name="genero">
                                            <xs:simpleType>
                                                <xs:restriction base="xs:string">
                                                    <xs:enumeration value="M" />
                                                    <xs:enumeration value="F" />
                                                    <xs:enumeration value="O" />
                                                </xs:restriction>
                                            </xs:simpleType>
                                        </xs:element>
                                        <xs:element name="descripcion" type="xs:string" minOccurs="0" maxOccurs="1"></xs:element>
                                    </xs:sequence>
                                    <xs:attribute name="id" use="required">
                                        <xs:simpleType>
                                            <xs:restriction base="xs:integer">
                                                <xs:pattern value="[0-9]{1,5}" />
                                            </xs:restriction>
                                        </xs:simpleType>
                                    </xs:attribute>
                                    <xs:attribute name="tipo" use="optional" default="principal">
                                        <xs:simpleType>
                                            <xs:restriction base="xs:string">
                                                <xs:enumeration value="principal" />
                                                <xs:enumeration value="secundario" />
                                                <xs:enumeration value="reparto" />
                                            </xs:restriction>
                                        </xs:simpleType>
                                    </xs:attribute>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>

                    </xs:complexType>
                </xs:element>

                <xs:element name="trama" type="xs:string"></xs:element> <!--trama-->
                <xs:element name="hashtag" minOccurs="0" maxOccurs="5"> <!--hashtags-->
                    <xs:complexType>
                        <xs:attribute name="nombre" type="xs:string"></xs:attribute>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
            <xs:attribute name="cod" use="required">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:pattern value="[A-Z][0-9]{2}" />
                    </xs:restriction>
                </xs:simpleType>
            </xs:attribute>
            <xs:attribute name="titulo" type="xs:string" use="required">
            </xs:attribute>
            <xs:attribute name="genero" use="optional">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:enumeration value="acción" />
                        <xs:enumeration value="drama" />
                        <xs:enumeration value="ciencia ficción" />
                    </xs:restriction>
                </xs:simpleType>
            </xs:attribute>
        </xs:complexType>

        <!--foreign
        keys-->
        <xs:key name="pk_personaje"> <!--para que no se puedan repetir los id de los personajes -->
            <xs:selector xpath="personajes/personaje" />
            <xs:field xpath="@id" />
        </xs:key>


    </xs:element>
</xs:schema>